:root {
  
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex; /* Используем flexbox */
  flex-direction: column; /* Вертикальное выравнивание */
  align-items: stretch; /* Центрирование по горизонтали */
  min-height: 100vh; /* Минимальная высота экрана */
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* или любой другой фон */
  backdrop-filter: blur(10px); /* размытие фона (опционально) */
  z-index: 1000; /* чтобы шапка была поверх других элементов */
  padding: 1rem 0;
  transition: all 0.3s ease;
}

/* Если экран меньше 768px, шапка перестает быть фиксированной */
@media (max-width: 768px) {
  .navbar {
    position: static;
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
