a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #FFFAF0;
}

html,body {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid #515151;
  padding: 0.5em 1.2em;
  font-size: 16px;
  font-weight: 500;
  font-family: inherit;
  background-color: rgba(113, 1, 104, 0.1);
  cursor: pointer;
  transition: all 0.4s ease;
}
button:hover {
  background-color: rgba(93, 21, 174, 0.3);
  border-color: #5d15ae;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

button.

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
